.gallerythumbs {
  text-align: center;
}

.gallerythumbs a {
  border: 0;
}

.gallerythumb {
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
}

#current {
  border-color: orange;
}

.entrycontent img {
  border: 0px;
  background-color: #fff;
  padding: 0px;
}