input, textarea {
  background-color: transparent;
  font-family: serif;
  border: 1px solid #ddd;
}

.title input {
  border: none;
}

select, option {
  border: none;
}

.sidebar {
  width: 250px;
}

.content {
  margin-right: 260px;
}