body {
  font-family: georgia, serif;
  color: #222;
  margin: 3px;
  text-align: center;
  background-image: url(../img/stripes_bg.gif);
}

#titlebanner {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: -4px;
  background-image: url(../img/coffee_stain.jpg);
  background-position: 0 -50;
  background-repeat: no-repeat;
  background-color: white;
  margin-bottom: 2px;
}

#titlebanner a {
  display: block;
  width: 600px;
  color: #234;
  padding-top: 0.5em;
  padding-left: 0.2em;
}

.layouttable {
  width: 100%;
}


.content {
  background-image: url(../img/coffee_stain.jpg);
  background-repeat: no-repeat;
  padding: 1em 1.5em 1em 1.5em;
  border: 1px solid black;
  background-color: white;
}
