/**********************************************************************
 * Questionable
 */


/**********************************************************************
 * General Guidelines
 */
body {
  font-family: HelveticaNeue-condensed, sans-serif;
  background-color: #fff;
  color: #000;
  padding: 0px;
  margin: 0px;
}

#page {
  font-family: HelveticaNeue-condensed, sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

img {
  border: 1px solid #555;
}

h1 { 
  font-family: sans-serif;
  padding: 5px;
}


#layouttable {
  width: 100%;
  border-collapse: collapse;
}

a:link {
  color: #333;
  background-color: #ef0;
  text-decoration: none;
}

a.unmarked {
  border: 0;
}

a:link:hover {
  color: #777;
  text-decoration: underline;
}

a img {
  border: 0;
}

p {
  margin: 0.5em 0 1em 0;
}

.title a {
  display: block;
  text-decoration: none;
  color: #000;
  border: 0;
}

.sidebar a {
  border: 0;
}



/**********************************************************************
 * Header and Footer
 */
.header, .footer {
  margin: 10px 0px 10px 0px;
}

.footer {
  clear: both;
  border-top: 1px solid #555;
  margin: 0;
}



/**********************************************************************
 * Debugging
 */
/* div { border: 1px solid red; } */


/**********************************************************************
 * Navitaion banner
 */


/* The UL that holds the navigation links */
.sitenav {
  text-align: right;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.sitenav li {
  display: inline;
  list-style-type: none;
  text-transform: lowercase;
  letter-spacing: -1px;
}

.sitenav a {
  color: #000;
  padding: 3px 0.5em 3px 0.5em;
  margin: 3px;
  border: 0;
  background-color: inherit;
}

#titlebanner {
  background-color: #333;
  font-size: 80px;
  font-weight: 500;
  line-height: 120px;
  margin: 0;
  padding: 0;
}

#titlebanner a {
  background-color: inherit;
  display: block;
  color: #ef0;
  padding: 0;
  text-align: left;
  margin: 0px;
  text-decoration: none;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 0;
  margin-right: 200px;
}

.sidebar {
  font-family: HelveticaNeue-condensed, sans-serif;
  font-size: 0.8em;
  float: right;
  width: 180px;
  padding: 3px;
  border-left: 1px dotted #777;
}

.traversallinks {
  text-transform: lowercase;
  font: bold 1.2em sans-serif;
  line-height: 1.2em;
  letter-spacing: -1px;
}

.traversallinks a {
  display: block;
  border: 0px;
  color: #555;
  line-height: 25px;
  height: 30px;
} 

div.nextentrylink a {
  background: url(../img/left-arrows-sm.png) no-repeat left top;
  padding: 3px 0 0 30px;
  text-align: left;
}

div.preventrylink {
  float: right;
}
div.preventrylink a {
  background: url(../img/right-arrows-sm.png) no-repeat right top;
  padding: 3px 30px 0 0;
  text-align: right;
}


/**********************************************************************
 * Display styles for Comments.
 */

.comments h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: #ef0;
  background-color: #333;
  margin: 0.5em 0px 0px 0px;
}

.comments table {
  width: 100%;
}

.comment {
  padding: 0.5em 0em 0.5em 0em;
  border-bottom: 1px dotted #555;
}

.commentmetainfo {
  font-family: sans-serif;
  font-size: 0.6em;
  text-transform: lowercase;
  padding: 0px 0px 2px 0px;
  margin-top: 5px;
}

.commentcontent {
}

.commentdate {
  width: 4em;
  float: left;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  letter-spacing: -1px;
}

.commentform {
  border: 2px solid black;
}

/**********************************************************************
 * Display styles for Log and Gallery entries.
 */

.entry {
  display: block;
  clear: left;
  text-align: justify;
  margin-bottom: 2em;
}

.title {
  background-color: #ef0;
  font-size: 1.6em;
  font-weight: 500;
  display: block;
  margin: 0;
  padding-left: 200px;
}

.title a {
  color: #000;
}

.title a:hover {
	text-decoration: none;
}

.topicname {
  color: #456;
}

.sectionname a {
  border-bottom: 0px;
}

.entrymetainfo {
  font-size: 0.6em;
  margin-left: 200px;
  color: #000;
  display: block;
  padding-top: 2px;
  font-family: sans-serif;
}

.entrymetainfo a {
  border: 0;
  color: #000;
  background-color: inherit;
}

.entrymetainfo a:hover {
  text-decoration: underline;
}

.entrycontent {
  margin: 0;
  margin-left: 200px;
  display: block;
  line-height: 1.2em;
}

.entrycontent img {
  border: 1px solid #555;
}

.entrycontent a {
	background-color: #ef0;
}

.postcard {
  border: 1px solid #555;
}

img.thumbnail {
  border: 1px solid #555;
}

.entrycontent img.thumbnail {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

p.postcard {
  text-align: center;
}

.gallerythumbnails {
  float: right;
  margin-left: 1em;
}

.gallerythumbnails img {
  display: block;
  margin-bottom: 0.5em;
}


.gallerymenu {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0;
}

.gallerymenu li {
  text-align: center;
}

.gallerymenu a {
  display: block;
  padding: 3px;
}

.continuedlink {
  background: url(../img/right-arrows-sm.png) no-repeat right top;
  display: block;
  height: 30px;
  padding: 3px 30px 0 0;
  border: 0;
  font: bold 1.2em sans-serif;
  color: #555;
  letter-spacing: -1px;
  margin: 0.5em 0em 1em 0em;
  text-align: right;
}

.continuedlink:hover, .paginglink:hover {
  color: #e88c49;
  text-decoration: none;
}


a.paginglink {
  display: block;
  height: 45px;
  border: 0;
  margin-bottom: 1em;
  font: bold 2em sans-serif;
  color: #555;
  letter-spacing: -1px;
}

a.nextpagelink {
  background: url(../img/right-arrows-lg.png) no-repeat right top;
  padding: 10px 60px 0 0;
  text-align: right;
}

a.prevpagelink {
  background: url(../img/left-arrows-lg.png) no-repeat left top;
  padding: 10px 0 0 60px;
  text-align: left;
}

/*
.continuedlink {
  background: url(../img/right-arrows-sm.png) no-repeat right top;
  display: block;
  height: 30px;
  padding: 3px 30px 0 0;
  border: 0;
  font: bold 1.2em sans-serif;
  color: #555;
  letter-spacing: -1px;
  margin: 0.5em 0em 1em 0em;
  text-align: right;
}
*/
/* below here */

/**********************************************************************
 * Error Messages Style
 */

.errorlist {
  font-size: 0.8em;
  color: red;
}


/**********************************************************************
 * Navigation Menus Style
 */

.navitem {
  margin-bottom: 1.5em;
}

.navtitle {
  display: block;
  color: #ef0;
  background-color: #333;
  padding-left: 2px;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.navtitle a {
	color: #ef0;
	background-color: inherit;
	
}

.navmenu {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0.5em 0.25em 0.25em 0.5em;
}

.navmenu a {
  display: block;
  padding: 2px;
  background-color: inherit;
}

.navmenu a.headerlink {
  padding: 1px 2px 1px 2px;
  text-transform: uppercase;
  font-size: 0.8em;	
  color: #ef0;
  margin-bottom: 1px;
  background: #333;
}

.navmenu a.headerlink:hover {
  color: #000;
}

.navmenu a:hover {
  background: #ef0;
  text-decoration: none;
}


.navmenu li {
  background-image: url(../img/rquot.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 8px;
}

.feedsmenu li {
  background-image: url(../img/feed-icon.gif);
  background-position: 0 4px;
  padding-left: 12px;
}

/**********************************************************************
 * Blogroll, powered by Bloglines.com
 */

.blogrollitem {
  background-image: url(../img/rquot.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 8px;
  margin: 0 0.25em 0 0.5em;
}

.blogrollfolder {
  padding: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #333;
  background-color: #ef0;
  margin-bottom: 1px;
}

.blogrollitem a {
  display: block;
  border: 1px solid #fff;
  padding: 1px;
}

.blogrollitem a:hover {
  background: #ef0;
  text-decoration: none;
}

/**********************************************************************
 * Mopho Style
 */
.tagcloud {
  text-align: justify;
  padding: 5px;
}

.tagcloud a:hover {
  color: #333;
  background: #ef0;
  text-decoration: none;
}

/**********************************************************************
 * Mopho Style
 */

.mopho {
  background-color: #eee;
  border: 1px solid #555;
}

.mopho img {
  border: 0px;
  border-bottom: 1px solid #555;
}

.mophotext {
  padding: 1px;
}

/**********************************************************************
 * Search Results
 */

.search-results li {
  padding: 0.5em 3px 0.5em 3px;
}

/**********************************************************************
 * Form Rendering Style
 */

.inputlabel, form th {
  font-size: 0.8em;
  font-weight: normal;
}

form th {
  font-size: 0.6em;
  text-align: left;
  background: #eee;
  border-bottom: 1px solid #aaa;
}

img.icon {
  border: 0;
  padding: 0;
  background: transparent;
}

input {
  border: 1px solid #555;
  font-family: monospace;
  background-color: #eee;
  padding: 1px;
}

input.button {
  font-family: sans-serif;
  font-size: 0.8em;
}

textarea {
  border-style: solid;
  border-width: thin;
  border-color: #555;
  font-size: 1em;
  padding: 1px;
}

.searchform input {
  font-size: 2em;
}

/**********************************************************************
 * Flavor Additives
 */

.disclaimer {
  background: #fff none;
  border: 3px double red;
  padding: 5px; 
  margin: 0 0 1em 1em; 
  font-size: 0.6em;
}

.attribution {
  display: block;
  margin-top: 0.5em;
  text-align: right;
}

.conversation {
  list-style-type: none;
  padding: 0.5em;
  padding-left: 1.5em;
  margin: 1em 0.5em 1em 0.5em;
  border: 1px solid #aaa;
  background-color: #eee;
}

.conversation b {
  color: #777;
  font-variant: small-caps;
  margin-left: -1em;
}

blockquote {
  font-family: georgia, serif;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
  margin: 2em 1em 2em 1em;
}

code, .code {
  font-family: monospace;
  white-space: pre;
}

pre.code {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 1em 0.5em 1em 0.5em;
  padding: 0.5em;
}

blockquote pre.code {
  background-color: #ccd;
}

acronym {
  border-bottom: 1px dotted #555;
  cursor: help;
}

ul {
  list-style-position: inside;
}