/**********************************************************************
 * Questionable
 */
 
 /* Mobile devices */
@media only screen and (max-device-width : 1024px) {
	body {
  	  background: url(../img/clouds-bg.jpg);
      width: 800px;
	}
}

/* Desktops and laptops */
@media only screen and (min-device-width : 1025px) {
	body {
	  background: url(../img/gold-rush-desktop.jpg);
	  background-size: auto 1280px;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	}
}

/**********************************************************************
 * General Guidelines
 */
body {
  font-family: HelveticaNeue-condensed, sans-serif;
  color: #222;
  margin: 0px;
  width: 800px;
  margin-left: auto;
  margin-right: 100px;
}

img {
  border: 1px solid #555;
}

h1 { 
  font-family: sans-serif;
  padding: 5px;
}

#page {
}

#layouttable {
  width: 100%;
  border-collapse: collapse;
}

a {
  color: #456;
  border-bottom: 1px solid #e88c49;
  text-decoration: none;
}

a.unmarked {
  border: 0;
}

a:hover {
  color: #e88c49;
}

a img {
  border: 0;
}

a.maplink {
	border: none;
	font-style: italic;
}

p {
  margin: 0.5em 0 1em 0;
}

.title a {
  display: block;
  text-decoration: none;
  color: #000;
  border: 0;
}

.title a:hover {
 color: #e88c49;
}

.sidebar a {
  border: 0;
}

.sidebar a:hover {
  border: 0;
  color: #e88c49;
}


/**********************************************************************
 * Header and Footer
 */
.header, .footer {
  margin: 10px 0px 10px 0px;
}

.footer {
  clear: both;
  border-top: 1px solid #555;
  margin: 0;
}

.header form {
	display: inherit;
}



/**********************************************************************
 * Debugging
 */
/* div { border: 1px solid red; } */


/**********************************************************************
 * Navitaion banner
 */


/* The UL that holds the navigation links */
.sitenav {
  text-align: right;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.sitenav li {
  display: inline;
  list-style-type: none;
  text-transform: lowercase;
}

.sitenav a {
  color: #000;
  padding: 3px 0.5em 3px 0.5em;
  margin: 3px;
  border: 0;
}

.sitenav a:hover {
  color: #e88c49;
}

#titlebanner {
  font: bold 80px sans-serif;
  line-height: 120px;
  letter-spacing: -10px;
  margin: 0;
  padding: 0;
}

#titlebanner a, #titlebanner img {
  border: 0;
}

#titlebanner a {
  display: block;
  color: #000;
  padding: 0;
  text-align: left;
  margin: 0px;
}

#titlebanner a:hover {
  color: #e88c49;
}

.content {
  padding-top: 0;
  border-right: 0;
  margin-right: 170px;
  width: 630px;
}

/* Still used when I'm logged in. */
.sidebar {
  font-size: 0.8em;
  float: right;
  width: 150px;
  padding: 3px;
}

.traversallinks {
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1.2em;
}

.traversallinks a {
  display: block;
  border: 0px;
  color: #555;
  line-height: 25px;
  height: 30px;
}

.traversallinks a:hover {
  color: #e88c49;
}  

div.nextentrylink a {
  background: url(../img/left-arrows-sm.png) no-repeat left top;
  padding: 3px 0 0 30px;
  text-align: left;
}

div.preventrylink {
  float: right;
}
div.preventrylink a {
  background: url(../img/right-arrows-sm.png) no-repeat right top;
  padding: 3px 30px 0 0;
  text-align: right;
}


/**********************************************************************
 * Display styles for Comments.
 */

.comments h2 {
  font-family: georgia, sans-serif;
  font-size: 1.2em;
  color: #555;
  margin: 0.5em 0px 0px 0px;
  font-variant: small-caps;
  letter-spacing: -1px;
  border-bottom: 1px solid #555;
}

.comments h2 a {
  border: 0;
  color: #000;
}

.comments h2 a:hover {
  color: #555;
  border: 0;
}

.comments {
  background-color: #fff;
  border-radius: 7px;
  padding: 15px;
  margin: 1em 0px 1em 0px;
}

.comments table {
  width: 100%;
}

.comment {
  padding: 0.5em 0em 0.5em 0em;
  border-bottom: 1px dotted #555;
}

.commentmetainfo {
  font-family: sans-serif;
  font-size: 0.6em;
  text-transform: lowercase;
  padding: 0px 0px 2px 0px;
  margin-top: 5px;
}

.commentcontent {
}

.commentdate {
  width: 4em;
  float: left;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  letter-spacing: -1px;
}

.commentform {
  border: 2px solid black;
}

/**********************************************************************
 * Display styles for Log and Gallery entries.
 */

.entry {
  display: block;
  clear: left;
  text-align: justify;
  margin-bottom: 2em;
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
}

.title {
  border-bottom: 1px solid #555;
  font-size: 1.6em;
  font-weight: normal;
  display: block;
  margin: 0;
}

.title a {
  color: #000;
}

.topicname {
  color: #456;
  font-variant: small-caps;
}

.sectionname a {
  border-bottom: 0px;
}

.entrymetainfo {
  font-size: 0.8em;
  color: #555;
  display: block;
  padding-top: 2px;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}

.entrymetainfo a {
  border: 0;
  color: #e88c49;
}

.entrymetainfo a:hover {
  text-decoration: underline;
}

.entrycontent {
  display: block;
  line-height: 1.5em;
  margin: 0;
}

.entrycontent img {
  border: 1px solid #555;
}

.entrycontent img.titleimage {
  position: relative;
  left: -15px;
  border: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

/* For now, this is fine. But if I ever decide to use iframes for anything,
 * this will have to change.
 */
.entrycontent iframe {
  position: relative;
  left: -15px;
  width: 630px;
}

a.titleimage {
  border: 0px;
}

.postcard {
  border: 1px solid #555;
}

img.thumbnail {
  border: 1px solid #555;
}

.recentimages:hover {
  background-color: #e88c49;
  border: 1px solid #777;
}

.entrycontent img.thumbnail {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

p.postcard {
  text-align: center;
}

.gallerythumbnails {
  float: right;
  margin-left: 1em;
}

.gallerythumbnails img {
  display: block;
  margin-bottom: 0.5em;
}


.gallerymenu {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0;
}

.gallerymenu li {
  text-align: center;
}

.gallerymenu a {
  display: block;
  padding: 3px;
}

.gallerymenu a:hover {
  background: #efe8d0;
  border: 1px solid #dbd1af;
  padding: 2px;
}

.continuedlink {
  background: url(../img/right-arrows-sm.png) no-repeat right top;
  display: block;
  height: 30px;
  padding: 3px 30px 0 0;
  border: 0;
  font: bold 1.2em sans-serif;
  color: #555;
  letter-spacing: -1px;
  margin: 0.5em 0em 1em 0em;
  text-align: right;
}

.continuedlink:hover, .paginglink:hover {
  color: #e88c49;
}


a.paginglink {
  display: block;
  height: 45px;
  border: 0;
  margin-bottom: 1em;
  font: bold 2em sans-serif;
  color: #000;
  opacity: 0.8;
  letter-spacing: -1px;
}

a.nextpagelink {
  background: url(../img/right-arrows-lg.png) no-repeat right top;
  padding: 10px 60px 0 0;
  text-align: right;
}

a.prevpagelink {
  background: url(../img/left-arrows-lg.png) no-repeat left top;
  padding: 10px 0 0 60px;
  text-align: left;
}

/*
.continuedlink {
  background: url(../img/right-arrows-sm.png) no-repeat right top;
  display: block;
  height: 30px;
  padding: 3px 30px 0 0;
  border: 0;
  font: bold 1.2em sans-serif;
  color: #555;
  letter-spacing: -1px;
  margin: 0.5em 0em 1em 0em;
  text-align: right;
}
*/
/* below here */

/**********************************************************************
 * Error Messages Style
 */

.errorlist {
  font-size: 0.8em;
  color: red;
}


/**********************************************************************
 * Navigation Menus Style
 */

.navitem {
  margin-bottom: 1.5em;
}

.navtitle {
  display: block;
  color: #555;
  padding-left: 2px;
  font: small-caps bold 1.2em sans-serif;
  border-bottom: 1px solid #e88c49;
  margin-bottom: 0.5em;
}

.navmenu {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0.5em 0.25em 0.25em 0.5em;
}

.navmenu a {
  display: block;
  padding: 2px;
}

.navmenu a.headerlink {
  padding: 1px 2px 1px 2px;
  border-top: 1px solid #dbd1af;
  border-bottom: 1px solid #dbd1af;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #555;
  margin-bottom: 1px;
  background: #efe8d0;
}

.navmenu a:hover {
  background: #fbf1cf;
  border: 1px solid #dbd1af;
  color: #000;
  padding: 1px;
}


.navmenu li {
  background-image: url(../img/rquot.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 8px;
}

.navtitle a {
  color: #000;
}

.feedsmenu li {
  background-image: url(../img/feed-icon.gif);
  background-position: 0 4px;
  padding-left: 12px;
}

/**********************************************************************
 * Blogroll, powered by Bloglines.com
 */

.blogrollitem {
  background-image: url(../img/rquot.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 8px;
  margin: 0 0.25em 0 0.5em;
}

.blogrollfolder {
  padding-left: 2px;
  border-bottom: 1px dotted #555;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #888;
  margin-bottom: 1px;
}

.blogrollitem a {
  display: block;
  border: 1px solid #fff;
  padding: 1px;
}

.blogrollitem a:hover {
  background: #efe8d0;
  border: 1px solid #dbd1af;
  color: #000;
}

/**********************************************************************
 * Mopho Style
 */
.tagcloud {
  text-align: justify;
  padding: 5px;
}

.tagcloud a:hover {
  color: #333;
  background: #e88c49;
}

/**********************************************************************
 * Mopho Style
 */

.mopho {
  background-color: #eee;
  border: 1px solid #555;
}

.mopho img {
  border: 0px;
  border-bottom: 1px solid #555;
}

.mophotext {
  padding: 1px;
}

/**********************************************************************
 * Search Results
 */

.search-results li {
  padding: 0.5em 3px 0.5em 3px;
}

/**********************************************************************
 * Form Rendering Style
 */

.inputlabel, form th {
  font-size: 0.8em;
  font-weight: normal;
}

form th {
  font-size: 0.6em;
  text-align: left;
  background: #eee;
  border-bottom: 1px solid #aaa;
}

img.icon {
  border: 0;
  padding: 0;
  background: transparent;
}

input {
  border: 1px solid #555;
  font-family: monospace;
  background-color: #eee;
  padding: 1px;
}

input.button {
  font-family: sans-serif;
  font-size: 0.8em;
}

textarea {
  border-style: solid;
  border-width: thin;
  border-color: #555;
  font-size: 1em;
  padding: 1px;
}

.searchform input {
  font-size: 2em;
}

/**********************************************************************
 * Flavor Additives
 */

.disclaimer {
  background: #fff none;
  border: 3px double red;
  padding: 5px; 
  margin: 0 0 1em 1em; 
  font-size: 0.6em;
}

.attribution {
  display: block;
  margin-top: 0.5em;
  text-align: right;
}

.conversation {
  list-style-type: none;
  padding: 0.5em;
  padding-left: 1.5em;
  margin: 1em 0.5em 1em 0.5em;
  border: 1px solid #aaa;
  background-color: #eee;
}

.conversation b {
  color: #777;
  font-variant: small-caps;
  margin-left: -1em;
}

blockquote {
  margin: 2em;
  font-family: georgia, serif;
  font-style: italic;
  line-height: 2em;
}

code, .code {
  font-family: monospace;
  white-space: pre;
}

pre.code {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 1em 0.5em 1em 0.5em;
  padding: 0.5em;
}

blockquote pre.code {
  background-color: #ccd;
}

acronym {
  border-bottom: 1px dotted #555;
  cursor: help;
}

ul {
  list-style-position: inside;
}