body {
      width: auto;
      margin: 10px;
}

#titlebanner {
  font: bold 50px sans-serif;
  line-height: 60px;
  letter-spacing: -6px;
  margin: 0;
  padding: 0;
}


.sidebar {
  width: 210px;
}

.content {
  margin-right: 220px;
  padding: 5px;
}

td.numeric {
    text-align: right;
}

#map {
    border: 1px solid black;
    height: 600px;
    margin-right: 8px;
}

#map a {
    border: 0;
}

#slider {
    float: right;
    width: 8px;
    height: 100px;
    border: 1px solid #000;
    border-left: 0;
    height: 600px;
}

#slider.open:hover, #slider.closed:hover {
    background-color: #777;
    cursor: pointer;
}

#slider.open {
    background: #000 url(../img/right-arrows-sm.png) no-repeat center right;
}

#slider.closed {
    background: #000 url(../img/left-arrows-sm.png) no-repeat center left;
}

#sidebarcontainer {
    height: 600px;
    overflow: auto;
}

.sidebar { 
    border: 0;
}

a.postcard {
    border: 0;
}

div.trackInfo {
    text-align: left;
    font-family: sans-serif;
}

div.trackInfo table {
    font-size: 0.8em;
    width: 20em;
}

div.trackInfo h4 {
    margin: 0;
    padding: 2px;
    color: #fff; /* Should contrast with JavaScript-generated bg color. */
}