<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>
  <!-- This is needed in order for net.kukido.blog.tags.BaseHrefTag to work correctly.  MUST MATCH WEB CONTEXT -->
  <display-name>home</display-name>
  
  <!-- Filter Declarations -->
  <filter>
      <filter-name>LoggingFilter</filter-name>
      <filter-class>net.kukido.blog.servlet.filter.LoggingFilter</filter-class>
      <init-param>
          <param-name>configFile</param-name>
          <param-value>WEB-INF/log4j.properties</param-value>
      </init-param>
  </filter>
  
  <filter>
      <filter-name>ExceptionHandler</filter-name>
      <filter-class>net.kukido.blog.servlet.filter.ExceptionHandler</filter-class>
      <init-param>
          <param-name>jsp</param-name>
          <param-value>/jsp/pages/Error.jsp</param-value>
      </init-param>
  </filter>
  
  <filter>
    <filter-name>Throttle</filter-name>
    <filter-class>net.kukido.servlet.filter.DosThrottleFilter</filter-class>
    <init-param>
      <param-name>method</param-name>
      <param-value>ALL</param-value>
    </init-param>
    <init-param>
      <param-name>triggerThreshhold</param-name>
      <param-value>3000</param-value>
    </init-param>
    <init-param>
        <param-name>delayIncrement</param-name>
        <param-value>1000</param-value>
    </init-param>
    <init-param>
        <param-name>maxDelay</param-name>
        <param-value>10000</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
  <filter>
  	<filter-name>AttachmentCache1h</filter-name>
  	<filter-class>net.kukido.servlet.filter.CacheFilter</filter-class>
  	<init-param>
  	  <param-name>cacheDir</param-name>
  	  <param-value>/</param-value>
  	</init-param>
  	<init-param>
  	  <param-name>timeout</param-name>
  	  <param-value>3600</param-value><!-- 1 hour -->
  	</init-param>
  	<init-param>
  	  <param-name>mimeType</param-name>
  	  <param-value>auto</param-value>
  	</init-param>
  </filter>
  
  <filter>
  	<filter-name>CacheJson3h</filter-name>
  	<filter-class>net.kukido.servlet.filter.CacheFilter</filter-class>
  	<init-param>
  	  <param-name>cacheDir</param-name>
  	  <param-value>/</param-value>
  	</init-param>
  	<init-param>
  	  <param-name>timeout</param-name>
  	  <param-value>10800</param-value><!-- 10 hours -->
  	</init-param>
  	<init-param>
  	  <param-name>mimeType</param-name>
  	  <param-value>application/json</param-value>
  	</init-param>
  </filter>
  
  <filter>
    <filter-name>CacheRss3h</filter-name>
    <filter-class>net.kukido.servlet.filter.CacheFilter</filter-class>
    <init-param>
      <param-name>cacheDir</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>timeout</param-name>
      <param-value>10800</param-value><!-- 10 hours -->
    </init-param>
    <init-param>
      <param-name>mimeType</param-name>
      <param-value>application/rss+xml</param-value>
    </init-param>
  </filter>
  
  <filter>
  	<filter-name>RootCacheHtml1h</filter-name>
  	<filter-class>net.kukido.servlet.filter.RootCacheFilter</filter-class>
  	<init-param>
  	  <param-name>cacheDir</param-name>
  	  <param-value>/</param-value>
  	</init-param>
  	<init-param>
  	  <param-name>timeout</param-name>
  	  <param-value>3600</param-value><!-- 1 hour -->
  	</init-param>
  	<init-param>
  	  <param-name>mimeType</param-name>
  	  <param-value>text/html</param-value>
  	</init-param>
  </filter>
  
  <filter>
  	<filter-name>CacheHtml1h</filter-name>
  	<filter-class>net.kukido.servlet.filter.CacheFilter</filter-class>
  	<init-param>
  	  <param-name>cacheDir</param-name>
  	  <param-value>/</param-value>
  	</init-param>
  	<init-param>
  	  <param-name>timeout</param-name>
  	  <param-value>3600</param-value><!-- 1 hour -->
  	</init-param>
  	<init-param>
  	  <param-name>mimeType</param-name>
  	  <param-value>text/html</param-value>
  	</init-param>
  </filter>
  
  <filter>
  	<filter-name>CacheHtml12h</filter-name>
  	<filter-class>net.kukido.servlet.filter.CacheFilter</filter-class>
  	<init-param>
  	  <param-name>cacheDir</param-name>
  	  <param-value>/</param-value>
  	</init-param>
  	<init-param>
  	  <param-name>timeout</param-name>
  	  <param-value>43200</param-value><!-- 12 hours -->
  	</init-param>
  	<init-param>
  	  <param-name>mimeType</param-name>
  	  <param-value>text/html</param-value>
  	</init-param>
  </filter>
  
  <filter>
    <filter-name>UrlRedirect</filter-name>
    <filter-class>net.kukido.servlet.filter.UrlRedirectFilter</filter-class>
    <init-param>
      <param-name>pattern</param-name>
      <param-value>^(http://)www\.(.*)</param-value>
    </init-param>
    <init-param>
      <param-name>template</param-name>
      <param-value>$1$2</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>UrlMap</filter-name>
    <filter-class>net.kukido.servlet.filter.UrlMapFilter</filter-class>
    <!-- Debugging -->
    <init-param>
      <param-name>config</param-name>
      <param-value>WEB-INF/url-map.xml</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>net.kukido.blog.servlet.filter.LoginFilter</filter-class>
  </filter>
  
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>net.kukido.blog.servlet.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/Login.do</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>MobileSecurityFilter</filter-name>
    <filter-class>net.kukido.blog.servlet.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/mobile/Login.do</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>DataSourceFilter</filter-name>
    <filter-class>net.kukido.blog.servlet.filter.DataSourceFilter</filter-class>
  </filter>
  
  <!-- ############################################################ -->
  <!-- # Filter Mappings                                          # -->
  <!-- ############################################################ -->
  
  <!-- Initializing Logging -->
  <filter-mapping>
  	<filter-name>LoggingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Exception Handling -->
  <filter-mapping>
      <filter-name>ExceptionHandler</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Provide ONE connection per request.  -->
  <filter-mapping>
    <filter-name>DataSourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Log the user in iff they're not already -->
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Caching -->
  
  <filter-mapping>
    <filter-name>AttachmentCache1h</filter-name>
    <url-pattern>/attachments/postcards/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>AttachmentCache1h</filter-name>
    <url-pattern>/attachments/thumbs/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheRss3h</filter-name>
    <url-pattern>/monkeyfeed.xml</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheJson3h</filter-name>
    <url-pattern>/json/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheRss3h</filter-name>
    <url-pattern>/comments.xml</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheRss3h</filter-name>
    <url-pattern>/commentspam.xml</url-pattern>
  </filter-mapping>

  <!-- This is a hack to get around limitations in Tomcat & Resin. (See comments in RootCacheFilter.) -->
  <filter-mapping>
    <filter-name>RootCacheHtml1h</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheHtml1h</filter-name>
    <url-pattern>/archive/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheHtml1h</filter-name>
    <url-pattern>/galleries/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheHtml12h</filter-name>
    <url-pattern>/search/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CacheHtml12h</filter-name>
    <url-pattern>/SearchLogEntries.do</url-pattern>
  </filter-mapping>
  
  <!-- Anti-Spam Throttle -->
  <filter-mapping>
    <filter-name>Throttle</filter-name>
    <url-pattern>/CreateComment.do</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>Throttle</filter-name>
    <url-pattern>/ReceiveTrackback.do</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>UrlRedirect</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- URL Mapping filter should always get first crack -->
  <filter-mapping>
    <filter-name>UrlMap</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Security Filter should apply to all database-update Actions -->
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/GalleryEntryUploadForm.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/GalleryEntryUpload.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/LogUpdateForm.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/LogUpdate.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/LogEditForm.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/LogEdit.do</url-pattern>
  </filter-mapping>
  <!-- FIXME: Just leaving this in place for now. -->
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/dropbox/**</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/LogDelete.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/MarkCommentSpam.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/UnmarkCommentSpam.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/DeleteComment.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/UserUpdate.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/logs/*</url-pattern>
  </filter-mapping>
  <!-- GZip Filter applies to all Actions -->
  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>net.kukido.blog.servlet.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
  </servlet>
  <!-- Servlet Declarations -->  
  <servlet>
    <servlet-name>TwitterSidebar</servlet-name>
    <servlet-class>net.kukido.blog.servlet.CacheServlet</servlet-class>
    <init-param>
      <param-name>cacheUrl</param-name>
      <param-value>http://twitter.com/statuses/user_timeline/5872052.rss</param-value>
    </init-param>
    <init-param>
      <param-name>fileName</param-name>
      <param-value>twitter.html</param-value>
    </init-param>
    <init-param>
      <param-name>resourcePath</param-name>
      <param-value>/twitter.html</param-value>
    </init-param>
    <init-param>
      <param-name>timeout</param-name>
      <param-value>300</param-value>
    </init-param>
    <init-param>
      <param-name>isPasswordProtected</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>DeathB4Decaf</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>5alier5</param-value>
    </init-param>
    <init-param>
      <param-name>xsltTemplate</param-name>
      <param-value>/xsl/Twitter2Sidebar.xsl</param-value>
    </init-param>
  </servlet>
  
  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- Welcome files -->
  <welcome-file-list>
    <welcome-file>foo.html</welcome-file>
  </welcome-file-list>
  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/WEB-INF/dmg-util.tld</taglib-uri>
    <taglib-location>/WEB-INF/dmg-util.tld</taglib-location>
  </taglib>
</web-app>
